{% extends "page_visits/base.html" %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock %}

{% for unique_url in unique_urls %}
<p>{{ unique_url }}</p>
{% endfor %}

{% block content %}
  <h1 class="text-3xl text-uci-blue-dk mx-auto px-4 pt-2 font-semibold">{{ title|title }}</h1>

  <div class="grid grid-cols-2 grid-rows-1">
    <div class="m-5">
      {% include 'page_visits/blocks/tables/default_table.html' %}
    </div>

    <div class="m-5">
      {% include 'page_visits/blocks/bar_charts/bar_chart.html' %}
    </div>
  </div>

  <div id="chart_data" data-chart="{{ chart_data }}"></div>
{% endblock %}

{% block endJS %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  const chartDataElement = document.getElementById('chart_data');
  const chartData = JSON.parse(chartDataElement.getAttribute('data-chart'));
  console.log(chartDataElement)
  const options = {
    colors: ["#1A56DB", "#FDBA8C"],
    series: [
      {
        name: "Page Visits",
        color: "#1A56DB",
        data: chartData,
      },
    ],
    chart: {
      type: "bar",
      height: "320px",
      fontFamily: "Inter, sans-serif",
      toolbar: {
        show: false,
      },
    },
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: "70%",
        borderRadiusApplication: "end",
        borderRadius: 8,
      },
    },
    tooltip: {
      shared: true,
      intersect: false,
      style: {
        fontFamily: "Inter, sans-serif",
      },
    },
    states: {
      hover: {
        filter: {
          type: "darken",
          value: 1,
        },
      },
    },
    stroke: {
      show: true,
      width: 0,
      colors: ["transparent"],
    },
    grid: {
      show: false,
      strokeDashArray: 4,
      padding: {
        left: 2,
        right: 2,
        top: -14
      },
    },
    dataLabels: {
      enabled: false,
    },
    legend: {
      show: false,
    },
    xaxis: {
      floating: false,
      labels: {
        show: true,
        style: {
          fontFamily: "Inter, sans-serif",
          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
        }
      },
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
    },
    yaxis: {
      show: false,
    },
    fill: {
      opacity: 1,
    },
  }

  window.onload = function () {
    if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("column-chart"), options);
        chart.render();
    } else {
      console.log("ApexCharts not loaded or chart element not found.");
    }
  };
</script>
{% endblock %}
