asgiref==3.8.1
Django==4.2.13
django-appconf==1.0.6
django-compressor==4.4
gunicorn==22.0.0
packaging==24.0
pillow==10.3.0
pip==24.0
python-dotenv==1.0.1
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.5.0
whitenoise==6.6.0
