<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'output.css' %}">
    {% endcompress %}

</head>

<body class="bg-slate-50 dark:bg-slate-800">
    
    
    {% include "blocks/navbar/navbar.html" %}

    <div class="mt-4">
        {% block content %}
        {% endblock %}
    </div>
    
    {% include "blocks/footer/footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>
