<!-- templates/research.html -->

{% extends "_base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<h1 class="text-3xl text-uci-blue-dk mx-auto px-4 pt-2 font-semibold">{{ title|title }}</h1>

<div class="relative overflow-x-auto p-5">
  <!-- POST-DOCS -->
  <h2 class="text-2xl text-uci-blue-lt mx-auto pl-5 px-4 pt-8 font-semibold">POST-DOCS</h2>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                  Name
            </th>
            <th scope="col" class="px-6 py-3">
                  Year Joined
            </th>
            <th scope="col" class="px-6 py-3">
                Year Finished
            </th>
        </tr>
    </thead>

  {% for post_doc in post_docs %}
  <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          Dr. {{ post_doc.name }}
        </th>
        <td class="px-6 py-4">
          {{ post_doc.year_joined }}
        </td>
        <td class="px-6 py-4">
          {{ post_doc.year_finished }}
        </td>
    </tr>
</tbody>
{% endfor %}
 </table>


 <!-- GRAD STUDENTS -->
 <h2 class="text-2xl text-uci-blue-lt mx-auto pl-5 px-4 pt-8 font-semibold">GRADUATE STUDENTS</h2>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                    Name
              </th>
              <th scope="col" class="px-6 py-3">
                    Year Joined
              </th>
              <th scope="col" class="px-6 py-3">
                  Year Finished
              </th>
              <th scope="col" class="px-6 py-3">
                  Awarded
              </th>
          </tr>
      </thead>
    {% for grad in grads %}
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {% if grad.title == 'Ph.D' %}
                Dr.
                {% elif grad.title == 'M.S.' %}
                M.S.
              {% endif %}
              {{ grad.name }}
              
              </th>
              <td class="px-6 py-4">
                {{ grad.year_joined }}
              </td>
              <td class="px-6 py-4">
                {{ grad.year_finished }}
              </td>
              <td class="px-6 py-4">
                {{ grad.title }}
              </td>
          </tr>
      </tbody>
    {% endfor %}
  </table>

<!-- UNDERGRADUATE STUDENTS -->
<h2 class="text-2xl text-uci-blue-lt mx-auto pl-5 px-4 pt-8 font-semibold">UNDERGRADUATE STUDENTS</h2>
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
          <th scope="col" class="px-6 py-3">
                Name
          </th>
          <th scope="col" class="px-6 py-3">
                Year Joined
          </th>
      </tr>
  </thead>
{% for undergrad in undergrads %}
  <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ undergrad.name }}
          </th>
          <td class="px-6 py-4">
            {{ undergrad.year_joined }}
          </td>
      </tr>
  </tbody>
{% endfor %}
</table>

<!-- HIGH SCHOOL STUDENTS -->
</div>
{% endblock %}
