<!-- templates/research.html -->

{% extends "_base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<h1 class="text-3xl text-uci-blue-dk mx-auto px-4 pt-2 font-semibold">{{ title|title }}</h1>

  <div class="container mx-auto px-4 py-8">
    <!-- <h2 class="text-3xl font-semibold mb-4">Meet The Team</h2> -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        {% for alumnus in alumni %}
        <div class="border border-gray-200 shadow-md rounded-md overflow-hidden" style="height: 100%;">
            <img class="w-full h-auto object-cover" src="{{ alumnus.image.url }}" alt="{{ alumnus.name }} Image">
            <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">{{ alumnus.name }}</h3>
                <p class="text-gray-600 text-sm mb-2">{{ alumnus.title }}</p>
                <p class="mb-2"><a href="mailto:{{ alumnus.email }}" class="text-blue-500">{{ alumnus.email }}</a></p>
                <p class="mb-4">{{ alumnus.bio }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
