<!-- templates/research.html -->

{% extends "_base.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
<h1 class="text-3xl text-uci-blue-dk mx-auto px-4 pt-2 font-semibold">{{ title|title }}</h1>


<div class="flex flex-col items-center">
  <div class="pt-10 pb-2 px-10">
    <h2 class="mb-2 text-2xl font-semibold text-gray-900 dark:text-white">
      We are currently hiring for the following positions:
    </h2>
</div>
</div>

{% for position in positions %}
<div class="w-auto m-10">
    <h2 class="mb-2 text-xl font-semibold text-gray-900 dark:text-white">
        {{ position.name }}
    </h2>    
    <a class="ml-5 font-mono font-medium blue text-blue-500 hover:underline" target="_blank" 
        href="{{position.embeded_link}}">
        View position document
    </a>
    <div class="flex justify-center items-center">
        {% if position.embeded_link %}
        <iframe src="{{position.embeded_link}}?embedded=true"
        class="h-screen w-3/4"></iframe>
        {% endif %}
    </div>
</div>
    {% endfor %}
{% endblock %}
